/* packageA/pages/goods_detail/goods_detail.wxss */
.goodsDetailContainer {
  background-color: #fff;
  margin: 0; /* 明确设为 0，清除默认 margin */
  padding: 0; /* 根据需求设置，若不需要顶部内边距就设 0 */
  box-sizing: border-box;
  padding-bottom: 200rpx;
  overflow-x: hidden;

  /* 轮播图 */

  .banner {
    width: 100%;
    height: 1100rpx;
    position: relative;

    .banner-swiper {
      width: 100%;
      height: 100%;

      .real-video {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 0;

        /* 外层圆形按钮 */

        .mute-btn {
          position: absolute;
          right: 50rpx;
          bottom: 60rpx;

          width: 60rpx;
          height: 60rpx;
          border-radius: 50%;

          background: rgba(19, 19, 19, 0.12); /* #131313, 透明度 12% */
          border: 1rpx solid #ffffff; /* 白色描边 */

          display: flex;
          align-items: center;
          justify-content: center;
        }

        /* 图标尺寸可自行微调 */

        .mute-icon {
          width: 30rpx;
          height: 28rpx;
        }
      }

      /* 仅商品大图占满 */

      .swiper-img {
        width: 100%;
        height: 100%;
        display: block;
      }
    }

    /* 改写点点为数字 */

    .bannerNum {
      position: absolute;
      left: 50%;
      bottom: 10rpx;
      transform: translate(-50%, -50%);
      font-family: "Hanchansans-Regular";
      color: #000;
      font-size: 26rpx;
      text-align: center;
    }
  }

  /* 商品信息 */
  .goods-info-container {
    padding: 0 30rpx;

    .goods-info {
      width: 100%;
      margin-top: 60rpx;
      background: #fff;

      .goodsname {
        font-family: "AlibabaPuHuiTi-55";
        font-size: 40rpx;
        color: #131313;
      }

      .price-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: 1; /* ★ 行高 = 字高，避免额外空白 */
        margin-top: 10rpx;

        .price {
          font-family: "Hanchansans-Regular";
          font-size: 40rpx;
          color: #131313;
          line-height: 1;
        }

        .price-unit {
          font-family: "AlibabaPuHuiTi-45";
          font-size: 24rpx;
          color: #131313;
          margin-left: 10rpx;
          line-height: 1;
        }
        .sales {
          font-size: 24rpx;
          color: #999;
        }
        .shareIcon {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 46rpx;

          .share-btn {
            width: 36rpx;
            height: 36rpx;
          }

          .like-btn {
            width: 39rpx;
            height: 32rpx;
          }
          .share-wrap {
            position: relative;
            width: 36rpx;
            height: 36rpx;

            .share-icon {
              width: 36rpx;
              height: 36rpx;
              display: block;
            }

            .share-overlay {
              position: absolute;
              inset: 0;
              background: transparent;
              border: 0;
              padding: 0;
              margin: 0;
              /* 清理按钮默认样式 */
              line-height: 36rpx; /* 防止撑开 */
              color: transparent; /* 防止文字占位 */
            }
          }
        }
      }
    }

    .service-row {
      display: flex;
      gap: 24rpx;
      margin-top: 46rpx;
      justify-content: space-between;

      text {
        font-family: "AlibabaPuHuiTi-45";
      }
      .service-item {
        flex: 0 0 auto; /* 按内容宽度 */
        min-width: 100rpx; /* 防止太窄，可按设计调整 */
        height: 60rpx;
        display: flex;
        align-items: center;
        background: #f2f2f2;
        padding: 10rpx 20rpx;
        box-sizing: border-box;

        .service-icon {
          width: 30rpx;
          height: 30rpx;
          margin-right: 12rpx;
        }
      }
    }
    .model-content {
      padding: 20rpx;
      .fwsm-list {
        .fwsm-item {
          display: flex;
          flex-direction: column;
          padding: 20rpx 0;
          border-bottom: 1px solid #f5f5f5;
          .fwsm-content-info {
            display: flex;
            width: auto !important;
            height: 50rpx;
            align-items: center;
            justify-content: left;
            .fwsm-img {
              width: 30rpx;
              height: 30rpx;
              margin-right: 20rpx;
            }
          }
        }
      }
      .confirm-btn {
        font-family: "AlibabaPuHuiTi-45";
        width: 100%;
        background-color: #131313;
        color: #fff;
        font-size: 30rpx;
        border: none;
        border-radius: 0;
        width: 80% !important;
        margin-top: 30rpx;
      }
      .insurance-desc {
      }
      .link {
        color: #007aff;
        text-decoration: underline;
      }
    }
    .param-section {
      padding: 20rpx 0;
      background: #fff;
      .detail-title {
        margin-top: 20rpx;
        display: block;
        margin-bottom: 20rpx;
      }
      .param-row {
        display: flex;
        padding: 12rpx 0;

        .param-label {
          font-family: "AlibabaPuHuiTi-45";
          width: auto;
          font-size: 26rpx;
          color: #666666;
          flex: 0 0 30%;
          font-size: 28rpx;
        }

        .param-value {
          font-family: "AlibabaPuHuiTi-45";
          flex: 1;
          font-size: 24rpx;
          color: #000;
          line-height: 40rpx;
        }
      }
    }
    .van-cell {
      padding: 20rpx 0;
    }
    .size-card-srcoll {
      .size-card-wrap {
        display: flex;
        flex-wrap: nowrap;
        gap: 20rpx; /* 卡片间距 */
        .size-card {
          flex: 0 0 245rpx; /* 宽度固定，不伸缩 */
          width: 235rpx;
          background: #f5f5f5;
          padding: 32rpx 15rpx 100rpx;
          box-sizing: border-box;
          position: relative;
          .pair {
            display: flex;
            justify-content: space-between;
            margin-bottom: 24rpx;
          }

          .attr {
            font-family: "AlibabaPuHuiTi-45";
            font-size: 20rpx;
            color: #8b8b8b;
            width: 110rpx;
          }

          .val {
            font-family: "Hanchansans-Regular";
            font-size: 22rpx;
            color: #000;
            flex: 1; /* 占剩余空间 */
            /* margin-left: 38rpx; */
            text-align: left;
          }

          /* 底部大号尺码 */
          .size-tag {
            font-family: "Hanchansans-Regular";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 16rpx;
            text-align: center;
            font-size: 60rpx;
            font-weight: 600;
            color: #000;
          }
        }
      }
    }
    .van-collapse-item__content {
      padding: 0;
    }
    .copyright-list {
      padding: 20rpx 0;
      background: #fff;
      .copyright-img {
        width: 100%;
        display: block;
        margin-bottom: 20rpx;
      }
    }
    .gmxz-wrapper {
      padding: 24rpx 32rpx;
      background: #fafafa;
      border-radius: 16rpx;
    }

    .gmxz-scroll {
      /* 若想更灵活，也可以写 max-height:60vh;  */
      max-height: 520rpx;
      /* rich-text 内图片自适应，文字排版可再调 */
      .gmxz-scroll rich-text {
        font-size: 28rpx;
        line-height: 1.8;
        color: #333;
      }
      .gmxz-scroll rich-text img {
        max-width: 100%;
        height: auto;
      }
    }
  }

  .pop-box {
    box-sizing: border-box;
    padding: 20rpx;
    /* 头部 */
    .dialog-header {
      display: flex;
      align-items: center;
      margin-bottom: 32rpx;
      .dialog-header-img {
        width: 120rpx;
        height: 120rpx;
        border-radius: 8rpx;
        margin-right: 20rpx;
      }
      .dialog-header-info {
        flex: 1;
        .dialog-price {
          font-family: Hanchansans-Regular;
          font-size: 40rpx;
          color: #000;
          display: block;
        }
        .dialog-stock {
          font-size: 24rpx;
          color: #999;
          display: block;
          margin-bottom: 8rpx;
        }
        .dialog-selected {
          font-size: 24rpx;
          color: #333;
        }
      }
      .dialog-close {
        width: 57rpx;
        height: 57rpx;
      }
    }
  }
}
